:root {
    --aviolet: #511200;
}

body {
    background-color: #eeedc1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0%;
}

.tastelabel {
  position:absolute;
  top:50%;
  left:60%;
  font-weight: 500;
  font-size:100%;
  color: var(--aviolet);
  font-family:sans-serif;
}

.tastetitle {
    position:absolute;
    top:10%;
    align-self: center;
    font-weight: 500;
    font-size:200%;
    color: var(--aviolet);
    font-family:sans-serif;
  }

#fivevaluetextbox {
    position: absolute;
    width: 90%;
    top: 90%;
}

.question-mark {
    position:absolute;
    top:50%;
    left:90%;
    background-color: var(--aviolet);
    padding: 1% 2%;
    font-weight: 500;
    font-size:100%;
    color: #fefb61;
    border-radius: 5px;
}

.backhome {
    position:absolute;
    top:10%;
    left:10%;
    background-color: var(--aviolet);
    padding: 1% 2%;
    font-weight: 500;
    font-size:100%;
    color: #fefb61;
    border-radius: 5px;
}

.winepagewine {
    position: absolute;
    width: auto;
    max-height: 30%;
    top: 20%;
    left: 80%;
}

.winepagesubtitle {
    color: var(--aviolet);
    position:absolute;
    align-self: center;
}

.winepagetext {
    color: var(--aviolet);
    position:absolute;
    width: 65%;
    left: 5%;
}
